$color-primary:#2d6dcece;
$color-secondary:#21a33ecc;
$color-secondary-dark:#107c27cc;
$color-white: rgb(255, 255, 255);
$color-black:#080808;
$color-grey:#494747;
$color-grey-light-1:#b9b7b7;
$color-yellow:yellow;
$color-red:#e75744fb;



// grid
$color-bg:#eee;
$grid-width:114rem;
$grid-gap:6rem;
$grid-gap-vertically:8rem;

//$ Card
$color-list-grey: #7e7676;
$color-green-light:#0ec208;
$color-green-medium:#31881bfd;
$color-green-dark:#155a04;
$color-blue-light:#839ada;
$color-blue-medium:#3155c9;
$color-blue-dark:#053286;
$color-orange-light:#eebf81fb;
$color-orange-medium:#e4880f;
$color-orange-dark:#b85c07fb;


$fa-font-path:        "../webfonts";