*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


// set basic styles
html{
    font-size: 10px;
}
body{
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 1rem;
}
